h1 {
    color: #333; /*cor do texto*/
    font-family: Arial, sans-serif; /*Fonte do texto*/
}

/*Estilo para paragrafo (p)*/

p {
    font-size: 16px; /*Tamanho da fonte*/
    line-height: 1.4; /*espaçamento entre linhas*/
}

/*estilo para a imagem*/
img{
    max-width: 100%; /*largura maxima da imagem */
    height: auto; /*Altura automatica proporcional*/
    margin: 20px 0; /*margem superior e inferior*/
}

/*estilo para links (a)*/ 
a {
    color: #0070cc; /*cor do link*/
    text-decoration: none; /*remover sublinhado padrão*/
}

/*estilo para links quando o mouse passar pro cima*/
a:hover {
    text-decoration: underline;/*Sublinhado ao passar o mouse*/
}